.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    padding-top: 30px;
}

.description>p {
    padding-top: 30px;
}

.Form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.topic_list {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    list-style: none;
    gap: 30px;
}

.Radio_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.topic_image {
    width: 300px;
    height: auto;
    cursor: pointer;
}

.topic_button {
    width: 200px;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    appearance: none;
    background: transparent;
    border: 1px #948181d8 solid;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-size: 23px;
    text-decoration: none;
    color: black;
}

.topic_button:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}

.topic_button:active {
    filter: brightness(0.9);
}

.topic_button>span {
    display: block;
    position: relative;
    transition: transform var(--motion-duration) var(--motion-ease);
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topic_button:hover>span {
    transform: scale(1.05);
}

.topic_button:active>span {
    transform: scale(0.95);
}

.back_button {
    width: 120px;
    height: 80px;
    background: transparent;
    border: 1px #948181d8 solid;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    cursor: pointer;
    font-size: 23px;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 40px;
}

.back_button_question {
    width: 120px;
    height: 80px;
    background: transparent;
    border: 1px #948181d8 solid;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    cursor: pointer;
    font-size: 23px;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 40px;
    top: 30px;
}

.wojak_img {
    width: 110px;
    height: auto;
    position: absolute;
    top: 340px;
    left: 340px;
    animation: pulse 3.0s ease 0s;
}

.wojak_img_good {
    width: 150px;
    height: auto;
    position: fixed;
    right: 300px;
    top: 350px;
}

@keyframes pulse {
    0% {
        opacity: 0
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1
    }
}

@media (min-width: 701px) and (max-width: 1200px) {
    .wojak_img {
        width: 90px;
        top: 10px;
        left: 240px;
    }
    .wojak_img_good {
        width: 120px;
        top: 20px;
        right: 230px;
    }
    .back_button {
        top: 40px;
    }
}

@media (min-width: 350px) and (max-width: 700px) {
    .topic_image {
        width: 120px;
        height: auto;
    }
    .topic_button {
        width: 120px;
        height: 190px;
        overflow: hidden;
        font-size: 12px;
    }
    .back_button {
        height: 39px;
        width: 130px;
        left: 5px;
        top: 80px;
    }
    .topic_list {
        gap: 15px;
    }
    .back_button_question {
        height: 39px;
        width: 130px;
        left: 5px;
        top: 10px;
    }
    .wojak_img {
        width: 90px;
        height: auto;
        left: 280px;
        top: 10px;
    }
    .wojak_img_good {
        width: 120px;
        height: auto;
        left: 250px;
        top: 20px;
    }
}