.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 200px;
    padding-right: 200px;
}

.question_container {
    border-radius: 40px;
    margin-top: 60px;
    height: 80px;
    width: 80px;
    color: white;
    box-shadow: 6px 6px rgba(0, 0, 0, .15);
    transition: all .4s ease;
    color: rgb(0, 0, 0);
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   
    background: #C2FBD7;
}

.question_number {
    position: relative;
}

.Radio_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.radio_button {
    background-color: #C2FBD7;
border-radius: 50px;
border-width: 0;
box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
color: #083b3b;
cursor: pointer;
justify-content: center;
display: flex;
align-items: center;
font-family: Arial, sans-serif;
font-size: 23px;
max-width: 350px;
min-height: 60px;
height: fit-content;
padding: 0 25px;
transition: all 200ms;
width: 240px;

}

.radio_button_right {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 240px;
    max-width: 350px;
    min-height: 60px;
    height: fit-content;
    overflow: auto;
    background-color: rgb(11, 98, 11);
    border-color: rgb(11, 98, 11) ;
    border: 5px #083b3b;
    color: white;
}

.radio_button:hover {

color: black;

transform: scale(1.05);
    /*
    filter: brightness(1.1);
    transform: scale(1.05);
    */
}





 



.question_div {
    min-height: 130px;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 50px;
}

.radio_button_wrong {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 240px;
    max-width: 350px;
    min-height: 60px;
    height: fit-content;
    overflow: auto;
    border-color: red;
}

.next_button {
    margin-top: 50px;
    width: 300px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: 1px #948181d8 solid;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-size: 15px;
    background: #c2fbd76f;
}

@media (min-width: 350px) and (max-width: 1000px) {
    .Radio_list {
        padding-left: 110px;
        padding-right: 110px;
    }
    .question {
        padding-left: 30px;
        padding-right: 30px;
    }
    .question_number {
        margin-top: 0px;
    }
    .question_container {
        height: 60px;
        width: 60px;
    }
}