.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

.question {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.question_number {}

.Radio_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 240px;
    padding-right: 240px;
}

.radio_button {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 240px;
    max-width: 350px;
    min-height: 60px;
    height: fit-content;
    overflow: auto;
}

.radio_button_right {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 240px;
    max-width: 350px;
    min-height: 60px;
    height: fit-content;
    overflow: auto;
    background-color: green;
}

.radio_button_wrong {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 240px;
    max-width: 350px;
    min-height: 60px;
    height: fit-content;
    overflow: auto;
    border-color: red;
}

.next_button {
    margin-top: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}